header{
    width: 100%;
    
}

#capa{
    display: block;
    width: 100%; 
    height: auto;
}

body{
    background-color: rgb(239, 239, 239);
}

@font-face{
    font-family: BA;
    src: url(img/GARABL__.TTF);
}

.botoes{
    font-family: BA;
    font-size: 130%;
    border: 1px solid rgb(185, 152, 189);
    color: rgb(185, 152, 189);
    border-radius: 13pt;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0.5%;
    transition-duration: 0.5s;
    cursor: pointer;
}

#menu{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:  rgb(185, 152, 189);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botoes:hover{
    font-size: 170%;
    color: seashell;
    background: rgb(185, 152, 189);
    text-decoration: none;
}


.botoes:link{
    text-decoration: none;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    
}

.slide{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 500px){
    .slideshow-container{
        width: 100%;
    }
}

@media only screen and (min-width: 501px){
    .slideshow-container{
        width: 70%;
    }
}
  

  
/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
 /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

#person{
    padding-right: 3%;
    float: left;
    width: 20%;
}

#rodape{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: arial;
    font-size: 90%;
}

#mySidenav a {
    position: absolute;
    left: -95px;
    transition: 0.3s;
    padding: 5px;
    width: 130px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #whats {
    bottom: 1px;
    background-color: #4CAF50;
  }
  
  #face {
    bottom: 60px;
    background-color: #2196F3;
  }
  
  #insta {
    bottom: 120px;
    background-color: #f44336;
  }
  
  #contact {
    bottom: 180px;
    background-color: #555
  }

  .logos{
      width: 30px;
  }


.container {
    display: inline-block;
    position: relative;
    width: 22%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  .image {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    font-family: arial;
    font-size: 120%;

  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }

  .column {
    float: left;
    width: 10%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .row{
    display: flex;
    justify-content: center;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container2 {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .kits{
      width: 20%;
  }