body{
  width: 100%;
}

header{
  width: 100%;
}
@media only screen and (max-width: 500px){
  #capa{
    width: 100%;
  }
}

@media only screen and (min-width: 501px){
  #capa{
    padding-left: 30%;
    padding-right: 20%;
    max-height: 200px;
  }
}

body{
  background-color: rgb(239, 239, 239);
}

@font-face{
  font-family: BA;
  src: url(img/GARABL.TTF);
}

.botoes{
  font-family: BA;
  font-size: 130%;
  border: 1px solid rgb(185, 152, 189);
  color: rgb(185, 152, 189);
  border-radius: 13pt;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0.5%;
  transition-duration: 0.5s;
  cursor: pointer;
}

.botoes:link{
  text-decoration: none;
}

.botoes:hover{
  font-size: 170%;
  color: seashell;
  background: rgb(185, 152, 189);
  text-decoration: none;
}

#menu{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:  rgb(185, 152, 189);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#slideshow{
  position: relative;
  margin: auto;
}

.slides{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

@media only screen and (max-width: 500px){
  #slideshow{
      width: 100%;
  }
}

@media only screen and (min-width: 501px){
  #slideshow{
      width: 70%;
  }
}

.seletorSlide{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.paginaSlide{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

#pessoa{
  padding-right: 3%;
  float: left;
  width: 20%;
}

#rodape{
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: arial;
  font-size: 90%;
}

#midiasSociais a {
  position: absolute;
  left: -120px;
  transition: 0.3s;
  padding: 5px;
  width: 150px;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#midiasSociais a:hover {
  left: 0;
}

#whats {
  bottom: 1px;
  background-color: #4CAF50;
}

#face {
  bottom: 60px;
  background-color: #2196F3;
}

#insta {
  bottom: 120px;
  background-color: #f44336;
}

#contato {
  bottom: 180px;
  background-color: #555
}

.logos{
  width: 30px;
}

@media only screen and (min-width: 501px){
  .catalogo{
    display: inline-block;
    position: relative;
    width: 22%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media only screen and (max-width: 500px){
  .catalogo{
    display: inline-block;
    position: relative;
    width: 66%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}


.produtos{
  width: 100%;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.pDescricao{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-family: arial;
  font-size: 120%;
}

.catalogo:hover .produtos{
  opacity: 0.3;
}

.catalogo:hover .pDescricao{
  opacity: 1;
}

.paginaKits{
  float: left;
  width: 10%;
  padding: 10px;
}

.paginaKits img {
  opacity: 0.8; 
  cursor: pointer; 
}

.paginaKits img:hover {
  opacity: 1;
}

.seletorKits{
  display: flex;
  justify-content: center;
}

.seletorKits:after{
  content: "";
  display: table;
  clear: both;
}

.divDestaque{
  position: relative;
  display: block;
  margin-right: 25%;
  margin-left: 25%;
}

.imagemKit{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#kitDestaque{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

legend{
  font-size: 30px;
}

textarea{
  width: 90%;
  height: 50px;
}

#caixa{
  width: 90%;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.campos{
  width: 90%;
}